<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/user.css')}}">
    <title>User</title>
</head>
<body>
    <header>
        Admission No:
        <h1>{{adm_no}}</h1>
        Name:
        <h1>{{name}}</h1>
    </header>
    <main>
        <section>
            <form action="{{url_for('user')}}" method="post">
                <input type="date" name="calendar" id="" min="2023-01-01" max="2023-01-30" required >
                
                <label for="cut">CUT</label>
                <input type="radio" name="cut" id="cut" value="cut">
                <label for="cut">EAT</label>
                <input type="radio" name="cut" id="cut" value="eat">
                
                <input type="submit" value="Add mess cut">
                <h4 style="color: greenyellow;">{{cut_status}}</h4>
            </form>
        </section>
        <br>
        <section class="grid-container">
            {% for item in cut_calendar %}
            <div class="grid-child {{item}}">{{loop.index}}</div>
            {% endfor %}
        </section>
    </main>
</body>
</html>